workflows/Backup  de Workflows.json
{
  "updatedAt": "2025-11-07T21:33:17.000Z",
  "createdAt": "2025-11-07T15:41:26.026Z",
  "id": "lVOQDsLOAP58DqPG",
  "name": "Backup  de Workflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        -272
      ],
      "id": "5282d249-06ad-4577-9629-93ae6259bc0d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -16
      ],
      "id": "2388a497-676e-4bd2-b6f6-82741a6be0f3",
      "name": "Every 12 hours"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        96,
        -128
      ],
      "id": "b849788f-107e-4d45-b0aa-baa65402d5a9",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "3kNtzqnjxfHjBSA0",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -128
      ],
      "id": "edc2a473-f635-4697-84a9-c1a1db6e9c46",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca23970c-c8da-47d3-a41f-99f5ecf28cad",
              "name": "repo.owner",
              "value": "lucastorrep",
              "type": "string"
            },
            {
              "id": "84e63185-ad30-451a-b4a1-a81cdab6d505",
              "name": "repo.name",
              "value": "n8n_Workflows",
              "type": "string"
            },
            {
              "id": "aed66127-d26f-4ebe-ac1e-6d794ad07e9f",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -128
      ],
      "id": "c1fb892d-882b-4c87-99a3-be047af1d298",
      "name": "Variables"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        -128
      ],
      "id": "79081283-3dc7-4c23-b55a-56edad351c90",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        -368
      ],
      "id": "3da36e9a-7adf-4293-8c39-61e1a16a9d79",
      "name": "NOP"
    },
    {
      "parameters": {
        "jsCode": "const inputs = $input.all();\nconst github = inputs.find(i => i.json?.content || i.json?.sha) || {};\nconst local = inputs.find(i => i.json?.workflow) || inputs[0]; // fallback\n\nlet result = 'new';\n\nif (github.content) {\n  try {\n    const decoded = Buffer.from(github.content, 'base64').toString('utf-8');\n    const githubWorkflow = JSON.parse(decoded);\n\n    const sanitize = (wf) => {\n      const copy = { ...wf };\n      delete copy.createdAt;\n      delete copy.updatedAt;\n      delete copy.id;\n      return copy;\n    };\n\n    const isSame = JSON.stringify(sanitize(githubWorkflow)) === JSON.stringify(sanitize(local.workflow));\n    result = isSame ? 'same' : 'different';\n\n  } catch (e) {\n    result = 'different';\n  }\n}\n\n// Devuelve los datos combinados correctamente\nreturn [{\n  json: {\n    result,\n    name: local.name,\n    workflow: local.workflow,\n    repo: local.repo,\n    sha: github.sha || null,\n    path: github.path || null,\n    url: github.url || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -128
      ],
      "id": "92c2caf6-b8cd-40cc-930d-6d5f04f2b671",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f69e53a9-dbcb-4d96-bfe5-5710027a6d2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f289dbc-e6e8-4397-b2a0-e72de42b0684",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d526e484-c314-4ce3-b7b9-fc875bf4f8bb",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1248,
        -144
      ],
      "id": "f9077ae4-0d48-44d5-9aa0-07d4fa1bc3a3",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1456,
        -352
      ],
      "id": "51d5f5d8-8d3c-4d65-aee2-813adde7b598",
      "name": "same"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1456,
        -128
      ],
      "id": "8a0eeedd-f91b-49f1-b0bc-2930598d3bb1",
      "name": "different"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1456,
        80
      ],
      "id": "344e3159-0790-4191-a1dc-31a60b01d51d",
      "name": "new"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "=lucastorrep",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Workflows",
          "mode": "list",
          "cachedResultName": "n8n_Workflows",
          "cachedResultUrl": "https://github.com/lucastorrep/n8n_Workflows"
        },
        "filePath": "={{ $json.repo.path }}{{ $json.name }}.json",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "=Update workflow {{ $json.name }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1616,
        -128
      ],
      "id": "da1af2b5-e44e-46c5-b699-6851a0b4ea5c",
      "name": "Edit a file",
      "webhookId": "fc29de9c-307c-49ab-8d25-0e9052fce0c4",
      "credentials": {
        "githubApi": {
          "id": "vKtx0mCVfEINGP9t",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "lucastorrep"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_Workflows",
          "mode": "list",
          "cachedResultName": "n8n_Workflows",
          "cachedResultUrl": "https://github.com/lucastorrep/n8n_Workflows"
        },
        "filePath": "={{ $json.repo.path }}{{ $json.name }}.json",
        "fileContent": "={{ JSON.stringify($json.workflow, null, 2) }}",
        "commitMessage": "=Add workflow {{ $json.name }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1632,
        80
      ],
      "id": "a7978830-97dd-42ac-b776-92c484f99051",
      "name": "Create a file",
      "webhookId": "59b50608-3ee9-4b44-a20a-50a4bcd0fdd0",
      "credentials": {
        "githubApi": {
          "id": "vKtx0mCVfEINGP9t",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        592,
        -240
      ],
      "id": "3950bdb3-1ece-44ca-ba49-4543b2f82698",
      "name": "Get a file",
      "webhookId": "9060ee4e-1eae-4b8f-b3c5-ec7ecd9369cf",
      "credentials": {
        "githubApi": {
          "id": "vKtx0mCVfEINGP9t",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "NOP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef1f7650-ab7f-4497-aeff-40c7baf3f6a4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-07T15:41:26.046Z",
      "createdAt": "2025-11-07T15:41:26.046Z",
      "role": "workflow:owner",
      "workflowId": "lVOQDsLOAP58DqPG",
      "projectId": "WWYRk7vsqfZbBRrC"
    }
  ],
  "tags": []
}