workflows/Chatbot RAG.json
{
  "updatedAt": "2025-11-07T22:14:40.000Z",
  "createdAt": "2025-11-02T09:43:40.962Z",
  "id": "2N61y7RvWKtskgKn",
  "name": "Chatbot RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -48
      ],
      "id": "5b314251-f4fb-4fcb-8ed6-22ba4b87b9c9",
      "name": "When chat message received",
      "webhookId": "e22b780f-00b6-4fe3-9695-4c75d83975eb"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        176
      ],
      "id": "0a22b34e-119a-4b98-a805-03e678875a42",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RaO44VqtH3OlXiJU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        176
      ],
      "id": "0bcd145f-72d7-45cc-8391-eb3819542e0c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        336
      ],
      "id": "c4bb634d-6eee-45d9-9ab7-aed6161041b7",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RaO44VqtH3OlXiJU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Trabaja con tu Pinecone Vector Store donde tienes toda la información sobre giuntipsy.es y lo que hacen.",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragprueba",
          "mode": "list",
          "cachedResultName": "ragprueba"
        },
        "options": {
          "pineconeNamespace": "rag_prueba"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        176
      ],
      "id": "7bc1326e-22bc-4d56-911b-5aae52898df4",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "W4iLGFAvtN6I7eq7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente especializado de Giunti Psychometrics España (GiuntiEOS). \nTu función es ayudar a clientes y profesionales a resolver dudas sobre la empresa, sus productos, servicios, formación y actividades e intentar llevar la conversación hacia el cierre de una venta.  Plan de precios Nesplora:\n\nBits: 25 € por uso (alta inicial 100 €). Incluye Attention Kids Aula, Aula School, Adults Aquarium, Executive Functions IceCream, Memory Suite y soporte técnico estándar por email.\n\nEssential: 90 € al mes (7 usos/mes) o 270 € trimestrales (22 usos/trimestre). Incluye los mismos test, alta gratuita y soporte técnico premium por email y teléfono preferente.\n\nProfessional: 150 € al mes o 1600 € al año, con usos ilimitados. Incluye todos los test, alta gratuita y soporte técnico premium por email y teléfono preferente.\n\nTienes acceso a una base de conocimiento en Pinecone Vector Store, que contiene información verificada de la empresa: \npreguntas y respuestas frecuentes, descripciones de productos, datos de contacto, formación, recursos y blog.\n\n### Instrucciones de comportamiento:\n1. Usa SIEMPRE la información recuperada desde Pinecone como fuente principal de tus respuestas.\n2. Si la información no está disponible en la base de conocimiento, responde con educación que **no dispones de esa información en este momento**, en lugar de inventar una respuesta.\n3. Mantén un tono profesional, claro y cercano, propio de la marca Giunti Psychometrics.\n4. Responde en español, con frases completas y fáciles de entender.\n5. Cuando cites productos, formaciones o servicios, sé concreto, pero no repitas texto innecesario.\n6. Si la pregunta incluye varios temas, separa la respuesta en párrafos claros.\n7. Si el usuario hace una pregunta que no tiene relación con Giunti Psychometrics, aclara que tu ámbito es la información corporativa, educativa o psicométrica de Giunti.\n\n### Ejemplo de comportamiento:\n- Usuario: “¿Dónde están sus oficinas?”\n- Asistente: “Las oficinas de Giunti Psychometrics España están en Alcobendas, Madrid (Parque Empresarial La Moraleja).”\n\n- Usuario: “¿Venden tests para empresas japonesas?”\n- Asistente: “No dispongo de información sobre ventas internacionales fuera del grupo Giunti Psychometrics. Puedo darte detalles sobre los productos disponibles en España si lo deseas.”\n\nTu objetivo es ser preciso, útil y representar correctamente la información de Giunti Psychometrics.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        64,
        -48
      ],
      "id": "4a705f42-d8fb-4087-8e5b-f713adfc25c1",
      "name": "Agente chatbot"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agente chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente chatbot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Agente chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente chatbot": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "60ecf462-0e2c-40e7-a2a7-805a83b44b1c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-02T09:43:40.985Z",
      "createdAt": "2025-11-02T09:43:40.985Z",
      "role": "workflow:owner",
      "workflowId": "2N61y7RvWKtskgKn",
      "projectId": "WWYRk7vsqfZbBRrC"
    }
  ],
  "tags": []
}