workflows/Subir datos a RAG.json
{
  "updatedAt": "2025-11-07T21:53:13.000Z",
  "createdAt": "2025-11-05T15:06:57.565Z",
  "id": "dlUi8XECerJM4h5g",
  "name": "Subir datos a RAG",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1G-nyVnnP8JyhQedk4LVSwKL1DkRl_6Vg",
          "mode": "list",
          "cachedResultName": "RAG_PRUEBA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G-nyVnnP8JyhQedk4LVSwKL1DkRl_6Vg"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -48
      ],
      "id": "1a2e9d05-d008-4f31-bdd6-d641325328a9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9S6kETFtYG8IFQgl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        -48
      ],
      "id": "f44b7f5b-521b-4bce-b36e-02b269c51ba9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9S6kETFtYG8IFQgl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragprueba",
          "mode": "list",
          "cachedResultName": "ragprueba"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        -48
      ],
      "id": "30349307-804f-4747-876a-438121d76f26",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "W4iLGFAvtN6I7eq7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        144
      ],
      "id": "db9b77e6-213d-438b-9df6-98909d6c03f1",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RaO44VqtH3OlXiJU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "=auto",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        592,
        144
      ],
      "id": "aa1d6ecc-c2bf-4846-a47c-9244994f4c8d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        608,
        272
      ],
      "id": "db6cce1c-a4aa-46a9-ba9e-318b806c76fe",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3da2fc87-f2a2-4b80-8fd7-9cbb5fbb923c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-05T15:06:57.571Z",
      "createdAt": "2025-11-05T15:06:57.571Z",
      "role": "workflow:owner",
      "workflowId": "dlUi8XECerJM4h5g",
      "projectId": "WWYRk7vsqfZbBRrC"
    }
  ],
  "tags": []
}